#!/bin/bash

export KUBERNETES_VERSION="v1.6.0"
# The first node must be master node
export nodes="test1@192.168.0.1 test2@192.168.0.2"
# m:master w:worker
export roles="mw w"
export token="abcdef.qwertyuiabcdefgh"
export token_ttl="0"

export SUDO_PASSWD="example_password"
